html{
    background-color: grey;
    color: whitesmoke;
    font-family: Garamond;
}

#header{
    background-color: black;
    font-size:x-large;
    color: whitesmoke;
    text-align: center;
    min-height: 600px;
    padding-top: 100px;
    margin: none;
}

#selection{
    font-size: large;
    text-shadow: 3px,3px;
}

#aboutme{
    background-color: black;
    width: 100%;
    border: 2px dotted blue;
    padding: 50px,50px,50px,50px;
    margin: auto;
}
      
#passion{
    background-color: black;
    width: 100%;
    border: 2px dotted blue;
    padding: 50px,50px,50px,50px;
    margin: auto;
}

       
#photo{
    background-color: black;
    width: 100%;
    border: 2px dotted blue;
    padding: 50px,50px,50px,50px;
    margin: auto;
}

#contacts{
    background-color: black;
    width: 100%;
    border: 2px dotted blue;
    padding: 50px,50px,50px,50px;
    margin: auto;
}
       
#copyright{
    background-color: black;
    width: 100%;
    border: 2px dotted blue;
    padding: 50px,50px,50px,50px;
    margin: auto;
}

