html{
    background-color: black;
    color: whitesmoke;
    font-family: Garamond;
}

#header{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    min-height: 500px;
    padding-top: 100px;
    margin: none;
}

#selection{
    font-size: large;
    text-shadow: 3px,3px;
}

#aboutme{
    background-color: black;
    font-size:x-large;
    color: whitesmoke;
    text-align: center;
    min-height: 550px;
    padding-top: 100px;
    margin: none;
}
      
#passion{
    background-color: black;
    font-size:x-large;
    color: whitesmoke;
    text-align: center;
    min-height: 550px;
    padding-top: 100px;
    margin: none;
}

       
#photo{
    background-color: black;
    font-size:x-large;
    color: whitesmoke;
    text-align: center;
    min-height: 550px;
    padding-top: 100px;
    margin: none;
}

#contacts{
    background-color: black;
    font-size:x-large;
    color: whitesmoke;
    text-align: center;
    min-height: 250px;
    padding-top: 100px;
    margin: none;
}
       
#copyright{
    background-color: grey;
    width: 100%;
    border: 2px solid rgba(196, 38, 38, 0.774);
    padding: 50px,50px,50px,50px;
    margin: auto;
}

