html{
    background-color: black;
    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;;
}

hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.button{
    background-color: rgba(34, 26, 26);
    border-color: rgba(34, 26, 26);
    padding: none;
    bottom: 0px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    color: antiquewhite;
    font-size: large;
}

.button:hover{
    background-color: grey;
    color: black;
}

.link{
    color: antiquewhite;
    font-size: large;
    padding: none;
    text-decoration: none;
    text-align: center;
    }

.elink{
    color: rgb(216, 198, 198);
    font-size: large;
    text-decoration: none;
    text-align: center;
    }

#header{
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    font-size: medium;
    min-height: 500px;
    padding-top: 100px;
    margin: none;
}

#item{
    font-size: medium;
    padding-top: 0px;
}

#logo{
    margin-bottom: 0px;
}


#selection{
    position: fixed;
    width: 100%;
    background-color: rgba(34, 26, 26);
    top : 0px;
}

#aboutme{
    background-color: white;
    font-size:x-large;
    color: black;
    text-align: center;
    min-height: 550px;
    padding-top: 50px;
    margin: none;
    border-top-color: grey;

}
      
#passion{
    background-color: black;
    font-size:x-large;
    color: whitesmoke;
    text-align: center;
    min-height: 550px;
    padding-top: 50px;
    margin: none;
    border-top-color: grey;
}

       
#photo{
    background-color: whitesmoke;
    font-size:x-large;
    color: black;
    text-align: center;
    min-height: 550px;
    padding-top: 50px;
    margin: none;
    border-top-color: grey;
}

#contacts{
    background-color: black;
    font-size:x-large;
    color: whitesmoke;
    text-align: center;
    min-height: 350px;
    padding-top: 25px;
    margin: none;
    border-top-color: grey;
}

#email{
    background-color: grey;
    font-size: larger;
    border-radius: 3px;
    padding-right: 12%;
    padding-left: 12%;
    text-align: center;
}
       
#copyright{
    background-color: white;
    width: 100%;
    padding: 50px,50px,50px,50px;
    min-height: 30px;
    color: black;
    text-align: center;
}

